html{
    font-size:10px;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    margin: 0px;
    padding: 0px;
}
/* ---------------------------------------------------
                        HEADER
------------------------------------------------------ */
header {
    display:flex;
    float:right;
    align-items: center;
    margin:10px 15px 0px 0px;
    line-height: 0px;
    font-size: 1.4rem;
    /* position: absolute;
    right: 0px; */
}
header a{
    padding:0px;
    margin:10px;

}

a.apps {
    
}

#apps {
    height: 25px;
    width: auto;
    opacity: 0.6;
}

a.avatar {
    background: black;
    background: url("https://cdn.pixabay.com/photo/2015/05/07/13/46/cappuccino-756490_960_720.jpg");
    background-size: 45px auto;
    background-position: -2px 5px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    
    filter: grayscale(70%);
}

/*
#avatar {
    border-radius: 50%;
    width: 50px;
    height:50px;
    
}
*/
/* ---------------------------------------------------
                        MAIN
------------------------------------------------------ */
main {
    width:100vw;
    height: auto;
    
    display:flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;

    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
}
main img {
    min-width: 100px;
    max-width:272px;
    height: auto;
}
/* ---------------------BORDA DA PESQUISA------------------------- */
div.pesquisa {
    position: relative;
    color:blue;
    border-radius: 25px;
    border: 1px solid #dadce0;
    height: 50px;
    width:400px;
    /* background-color: red; */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: auto;
    margin: 30px;
}

div.pesquisa:hover {
    box-shadow: 0px 0px 2px 1px #eee,
                2px 2px 5px 0px #ddd;
                
}

/* ---------------------LUPA------------------------- */
.pesquisa svg {
    fill: rgba(0,0,0,0.54);
    height: 17.5px;
    width: 17.5px;
    margin: 10px;
    justify-self: flex-start;
}
/* ---------------------CAIXA DE TEXTO------------------------- */
}
main .pesquisa input {
    border:none;
    border-color: transparent;
    height: 40px;
    width: auto;
    padding: 5px;
    margin:0px;
    justify-self: stretch;
    
    background-color: lightgreen;
}
/* ---------------------TECLADO VIRTUAL------------------------- */
#teclado {
    background-color: rgba(0,0,0,0.54);
    width: 30px;
    height: 15px;
    margin: 10px;
    color: white;
    font-size: 1rem;

/* ---------------------BOTÕES------------------------- */

main .buttons {
    margin: 10px auto;
    align-items: center;
}
main .buttons input {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    padding: 0.5em;
    border-radius: 0.5rem;
    border-color: transparent;
    background: #f9f8fa;
}

main .buttons input:hover {
    background-color:white;
    color:rgba(0,0,0,0.75);
    border:1px solid #dadce0;
    box-shadow: 1px 1px 0px 0px #dadce0;
}

/* ---------------------------------------------------
                        FOOTER
------------------------------------------------------ */
footer {
    position: absolute;
    bottom: 0px;
    color: rgba(0,0,0,0.54);
    background-color: #f2f2f2;
    border-top: 1px solid #dadce0;
    font-size: 1.4rem;
    width: 100%;
    
    min-height: 40px;
    display:inline-block;
    
}
footer div {
    align-items: center;
    
}
footer div a{
    line-height: 40px;
    padding: 10px;
    white-space: nowrap;
}
.left{
    margin-left: 10px;
    float:left;
}

.right{
    margin-right: 10px;
    float: right;
}
@media (max-width: 900px) {
    footer {
        padding:20px 0px;
    }

    .left, .right {
        float:none;
        justify-content: center;
        text-align: center;
    }

    footer div a {
        line-height:30px;
    }
}